{% extends "base.html" %}
{% block title %}Crypto Coins Prices{% endblock %}
{% block content %}
<h1>Cryptocurrencies</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Market Cap</th>
            <th>Volume</th>
            <th>% Change</th>
        </tr>
    </thead>
    <tbody>
        {% for coin in cryptocurrencies %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ coin.name }}</td>
            <td>${{ coin.price }}</td>
            <td>${{ coin.market_cap }}</td>
            <td>${{ coin.volume }}</td>
            <td>{{ coin.percent_change }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <ul>
        {% for coin in cryptocurrencies %}
            <li>{{ coin.name }} - {{ coin.created_at }} - {{ coin.updated_at }}</li>
        {% empty %}
            <li>No cryptocurrencies found.</li>
        {% endfor %}
    </ul>
{% endblock %}