{% extends "base.html" %}
{% block title %}Crypto Coins Prices{% endblock %}
{% block content %}
<h1>Cryptocurrencies</h1>
{% if cryptocurrencies %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">% Change(24h)</th>
                <th scope="col">Market Cap</th>
                <th scope="col">Volume(24h)</th>
            </tr>
        </thead>
        <tbody>
            {% load coin_filters %}
            {% for coin in cryptocurrencies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ coin.name }}</td>
                    <td>${{ coin.price|decimal_digits_format|add_commas }}</td>
                    <td>{{ coin.percent_change|floatformat:2 }}%</td>
                    <td>${{ coin.market_cap|floatformat:"0g" }}</td>
                    <td>${{ coin.volume|floatformat:"0g" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; first</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}
            <li>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% else %}
    No cryptocurrencies found.
{% endif %}
<ul>
    {% for coin in cryptocurrencies %}
        <li>{{ coin.name }} - {{ coin.created_at }} - {{ coin.updated_at }}</li>
    {% empty %}
        <li>No cryptocurrencies found.</li>
    {% endfor %}
</ul>
{% endblock %}